<html>

<head>
    <title>Directors</title>
</head>

<body>
    <pre><h2>GET Directors</h2></pre>
    <ul>
        <pre>
        <% directors.forEach ((director) => {%>
        <li><%= director.name %></li>
        <% })%>
        </pre>
    </ul>
</body>

</html>
