<html>

<head>
    <title>Movie</title>
</head>

<body>
    <pre><h2>GET Movie</h2></pre>
    <pre><h2>Director: <%= director %></h2></pre>
    <pre><h2>Movie: <%= movie %></h2></pre>
</body>

</html>
